.contact {
  background: black;
  padding: 100px 50px;
}

.contact h1 {
  color: white;
  font-size: 64px;
  font-weight: bold;
}

.contact p {
  color: white;
  font-size: 24px;
  padding-top: 50px;
}

.general {
  padding-inline-start: 100px;
  padding-inline-end: 100px;
  padding-top: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.general-title {
  padding: 1px 85px;
  color: #8464b6;
  font-weight: bold;
}
.general h2 {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 80px;
}

.general p {
  color: black;
  padding: 10px 90px;
}
.general a {
  color: black;
}
.general b {
  line-height: 35px;
}

.column-section {
  text-align: left;
}

.support {
  background-color: #8464b6;
  padding: 20px 40px 75px 40px;
  color: white;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.support-title {
  padding: 20px;
  color: white;
  font-weight: bold;
}

.support a {
  color: white;
}

.support b {
  line-height: 35px;
}
.support h2 {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0px;
}

.partner {
  background: #f2f2f2;
  padding: 20px 40px 75px 40px;
  color: black;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.partner-title {
  color: black;
  padding: 20px;
  font-weight: bold;
}

.partner a {
  color: black;
}

.partner b {
  line-height: 35px;
}

.partner h2 {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0px;
}

.connect {
  color: black;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
  padding-top: 40px;
  margin-top: 10px;
  margin-bottom: 90px;
}

.connect-title {
  color: #8464b6;
  text-align: center;
  font-size: 48px;
  margin-top: 30px;
  font-weight: bold;
}

.connect p {
  color: black;
  padding: 10px 90px;
  margin-top: 20px;
}

.connect a {
  color: black;
  padding: 50px;
}
.connect h2 {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0px;
}

.footer {
  background-color: black;
  padding: 30px 15px;
}
.footer img {
  width: 250px;
  height: 75px;
}
.footer div {
  text-align: center;
}

.footer a {
  color: white;
  padding: 0px 20px;
}
.copyright {
  float: left;
  color: white;
  margin-top: 35px;
  margin-left: 40px;
  font-size: 18px;
}
.network-icons {
  text-align: center;
  margin-left: 150px;
  font-size: 30px;
}
.links {
  font-size: 20px;
  float: right;
}
