.icon-image-container {
  padding-inline-start: 50px;
  padding-inline-end: 10px;
}

.return-icon {
  background: none;
  color: #8464b6;
  font-size: 50px;
  border: none;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}

.return-icon:hover {
  color: black;
  background: none;
  box-shadow: 5px 5px 5px #00000054;
}

.img-form-row {
  padding-inline-start: 40px;
  padding-inline-end: 50px;
}

.pet-info {
  margin-top: 60px;
  margin-bottom: 50px;
}

.pet-img-edit {
  float: left;
  margin-top: 70px;
  /* margin-left: 20px; */
  border-radius: 5px;
}

.edit-profile-container {
  float: right;
  width: 700px;
  /* margin-right: 50px; */
}

.contact-info-h3 {
  color: #8464b6;
  margin-top: 60px;
  margin-bottom: 50px;
}

.edit-profile-update {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 90px;
  margin-left: 267px;
}

.edit-profile-update:hover {
  background-color: #8464b6;
  box-shadow: 5px 5px 5px #00000054;
}

.successMessage,
.errorMessage {
  padding-bottom: 30px;
  margin-top: -20px;
}
