@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/*
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*/

.header {
  align-items: center;
  gap: 25px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 50px;
}

.header h1 {
  color: white;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  margin-top: 20px;
}

.header p {
  font-size: 24px;
}

.header-button {
  width: 150px;
  border-radius: 20px;
  background: #8464b6;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: 45%;
}
.header button:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(45, 45, 45);
  box-shadow: 5px 5px 5px #00000042;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: 170px;
  padding-inline-end: 170px;
  padding-top: 40px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.section1 h2 {
  color: #8464b6;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0px;
}

.section1-p {
  width: 900px;
  margin-bottom: 40px;
}

.section2 {
  background-color: #f4f2f3;
  text-align: initial;
  padding-inline-start: 20px;
  padding-inline-end: 40px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.section2-image {
  margin-left: -20px;
}

.section2-p,
.section3-p,
.section5-p {
  margin-top: 80px;
  width: 700px;
}

.section2 h2 {
  font-size: 48px;
  font-weight: bold;
  color: #8464b6;
  padding: 20px 0px;
}

.section2 button {
  width: 150px;
  border-radius: 20px;
  background: #8464b6;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.section2 button:hover {
  background-color: black;
  color: white;
  border: 2px solid rgb(45, 45, 45);
  box-shadow: 5px 5px 5px #00000042;
}

.section3 {
  display: flex;
  justify-content: center;
  text-align: initial;
  padding-inline-start: 40px;
  padding-inline-end: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section3-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section3 h2 {
  color: #8464b6;
  font-size: 48px;
  padding: 20px 0px;
  font-weight: bold;
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8464b6;
  padding-inline-start: 170px;
  padding-inline-end: 170px;
  padding-top: 40px;
  color: white;
  text-align: center;
}

.section4 p {
  width: 900px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.section4 h2 {
  color: #fefefe;
  text-align: center;
  font-size: 48px;
  font-family: Montserrat;
  font-weight: 700;
  margin-top: 80px;
}

.section4 button {
  width: 150px;
  border-radius: 20px;
  background: black;
  color: white;
  text-align: center;
  margin-bottom: 70px;
}
.section4 button:hover {
  background-color: white;
  color: #8464b6;
  border: 2px solid #8464b6;
  box-shadow: 5px 5px 5px #00000042;
}

.section5 {
  display: flex;
  justify-content: center;
  text-align: initial;
  padding-inline-start: 40px;
  padding-inline-end: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section5 h2 {
  color: #8464b6;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0px;
}

.section5-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section5 button {
  grid-area: button;
  width: 150px;
  border-radius: 20px;
  background: black;
  color: white;
  text-align: center;
  margin-top: 40px;
}
.section5 button:hover {
  background-color: #8464b6;
  color: white;
  border: 2px solid rgb(45, 45, 45);
  box-shadow: 5px 5px 5px #00000042;
}

.last-row {
  background-color: black;
  padding: 30px 15px;
}
.last-row img {
  width: 250px;
  height: 75px;
}
.last-row div {
  text-align: center;
}

.last-row a {
  color: white;
  padding: 0px 20px;
}
.copyright {
  float: left;
  color: white;
  margin-top: 35px;
  margin-left: 40px;
  font-size: 18px;
}
.network-icons {
  text-align: center;
  margin-left: 150px;
  font-size: 30px;
}
.links {
  font-size: 20px;
  float: right;
}
