@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.container {
display: inline-flex;
    padding: 21px 0px 196px 0px;
    flex-direction: column;
    align-items: center;
    gap: 101px;
    display: flex;
        width: 650px;
        height: 150px;
        flex-direction: column;
        color: #000;
            text-align: center;
            font-size: 48px;
            font-family: Inter;
            letter-spacing: -0.72px;
}

.lost-button {
    border: none;
    background-color: #fff;
    width: 200px;
    height: 262.5px;
    flex-shrink: 0;
    background-color: none;
    text-align: center;
    color: #FD678D;
        font-size: 40px;
        font-family: Inter;
        letter-spacing: -0.6px;
        


}

.lost-button:hover{
    font-size: 45px;
}









.found-button{
    border: none;
        background-color: #fff;
    color: #2793E2;
        font-size: 40px;
        font-family: Inter;
        letter-spacing: -0.6px;
display: flex;
    width: 300px;
    padding: 25px 50px 12.5px 50px;
    justify-content: center;
    align-items: center;
 
}

.found-button:hover{
    font-size: 45px;
}

.both-buttons{
    display: flex;
        align-items: center;
        gap: 150px;
}


.line{
width: 2px;
    height: 400px;
    background: #C4C4C4;
}