/* Positions and styles the container for map buttons */
.map-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

/* Adds margin to the primary map button */
.map-button-primary {
  margin-right: 10px;
}

/* Styles the marker icon and geo-alt-fill element */
.leaflet-marker-icon,
i.bi-geo-alt-fill {
  font-size: 40px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Positions and styles the overlay for the custom prompt */
.custom-prompt-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Styles the custom prompt form */
.custom-prompt-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

/* Styles the labels in the custom prompt form */
.custom-prompt-form label {
  display: block;
  margin-bottom: 10px;
}

/* Styles the input fields in the custom prompt form */
.custom-prompt-form input {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Styles the submit button in the custom prompt form */
.custom-prompt-form button {
  display: block;
  background-color: #8464b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.map-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.feed-container {
  width: 50%;
  float: left;
  /* Add any additional styles for the feed container */
}

.map-wrapper {
  width: 50%;
  float: right;
  position: relative;
  /* Add any additional styles for the map wrapper */
}

.map {
  height: 100%;
  width: 100%;
}
