.profile-page-container {
  display: flex;
  justify-content: space-between;
}

.profile-user {
  width: 30%;
}

.profile-table {
  width: 70%;
}

.profile-header,
.profile-user,
.profile-table {
  margin-top: 50px;
}

.icon-large {
  font-size: 120px;
  margin-right: 80px;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.table-header {
  color: white !important;
  background-color: #8464b6 !important; /* Change this color to your desired background color */
}

ul {
  list-style-type: none !important;
  padding-left: 0;
}

.user-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pet-remove {
  margin-bottom: 10px;
}

.profile-h2 {
  margin-bottom: 10px;
}

.profile-update {
  margin-left: 50px;
}

input {
  height: 35px;
  border-radius: 3px;
  border: solid 1px #000000;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-link {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 3px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.pagination-link-active {
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination-link-disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination-link:hover {
  background-color: #ddd;
}

.user-details input {
  padding: 10px;
}

.edit-actions button {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
  background: none;
  border: none;
}
.edit-actions button:hover {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #8464b6;
  box-shadow: 5px 5px 5px #00000054;
  background: none;
  border: none;
}
