.register-form {
  border: 1px solid;
  border-color: #c4c4c4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 500px;
  border-radius: 10px;
}

.register-form-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form-center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.register-form-button {
  background-color: #000000;
  border-color: #000000;
  border-radius: 20px;
  width: 150px;
  transition: transform 0.2s ease-in-out;
}

.register-form-button:hover {
  background-color: #8464b6;
  border-color: #8464b6;
  transform: scale(1.05);
}

.register-form-prompt {
  text-align: center;
  padding-top: 20px;
}

.register-form-link {
  text-decoration: none;
  color: #8464b6;
}
